<div class="container">
  <aside class="sidebar">
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Historial</a></li>
        <li><a href="#">Clientes</a></li>
        <li><a href="#">Configuración</a></li>
      </ul>
    </nav>
  </aside>

  <main class="main-content">
    <header>
      <h1>Datos Consumidor</h1>
    </header>

    <br>
    <br>
    <br>

    

    <mat-card>
    <div class="bill-box">
      <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="form-row">
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput id="name" type="name" name="name" required formControlName="name">
              <mat-error *ngIf="customerForm.get('name')?.errors?.['required']">
                Ingrese un nombre
              </mat-error>
            </mat-form-field>
            <mat-icon class="help-icon" matTooltip="Ingrese el nombre del cliente" style="cursor: help;">help_outline</mat-icon>
            <mat-form-field>
              <mat-label>Dirección</mat-label>
              <input matInput id="address" type="address" name="address" required formControlName="address">
              <mat-error *ngIf="customerForm.get('address')?.errors?.['required']">
                Ingrese una dirección
              </mat-error>
            </mat-form-field>
            <mat-icon class="help-icon" matTooltip="Ingrese la dirección del cliente" style="cursor: help;">help_outline</mat-icon>
          </div>
          
          
        </div>

        <div class="form-group">
          <div class="form-row">
            <mat-form-field>
              <mat-label>Teléfono</mat-label>
              <input matInput id="phone" type="phone" name="phone" required formControlName="phone">
              <mat-error *ngIf="customerForm.get('phone')?.errors?.['required']">
                Ingrese un teléfono
              </mat-error>
              <mat-error *ngIf="customerForm.get('phone')?.errors?.['min']">
                Ingrese un teléfono válido
              </mat-error>
            </mat-form-field>
            <mat-icon class="help-icon" matTooltip="Ingrese un número de teléfono válido del cliente" style="cursor: help;">help_outline</mat-icon>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput id="email" type="email" name="email" required formControlName="email">
              <mat-error *ngIf="customerForm.get('email')?.errors?.['required']">
                Ingrese una dirección email
              </mat-error>
            </mat-form-field>
            <mat-icon class="help-icon" matTooltip="Ingrese una dirección de email válida del cliente" style="cursor: help;">help_outline</mat-icon>
          </div>
          
        </div>

        <div class="form-group">
          <div class="form-row">
            <mat-form-field>
              <mat-label>Límite de crédito</mat-label>
              <input matInput id="creditLimit" type="creditLimit" name="creditLimit" required formControlName="creditLimit">
              <mat-error *ngIf="customerForm.get('creditLimit')?.errors?.['required']">
                Ingrese un límite de crédito
              </mat-error>
              <mat-error *ngIf="customerForm.get('creditLimit')?.errors?.['min']">
                Ingrese un límite de crédito válido (mínimo S/ 100.00)
              </mat-error>
            </mat-form-field>
            <mat-icon class="help-icon" matTooltip="Ingrese el límite de crédito para el cliente" style="cursor: help;">help_outline</mat-icon>
            <mat-form-field>
              <mat-label>Fecha de pago mensual</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="monthlyPaymentDate">
              <mat-error *ngIf="customerForm.get('monthlyPaymentDate')?.errors?.['required']">
                Ingrese una fecha de pago mensual
              </mat-error>
              <mat-error *ngIf="customerForm.get('monthlyPaymentDate')?.errors?.['futureDateValidator']">
                Ingrese una fecha válida
              </mat-error>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-icon class="help-icon" matTooltip="Ingrese la fecha de pago mensual del cliente" style="cursor: help;">help_outline</mat-icon>
          </div>
          
        </div>

        <div class="form-group">
          <div class="form-row">
            <mat-form-field>
              <mat-label>Tasa de interés</mat-label>
              <input matInput id="interestRate" type="interestRate" name="interestRate" required formControlName="interestRate">
              <mat-error *ngIf="customerForm.get('interestRate')?.errors?.['required']">
                Ingrese una tasa de tasa de interés
              </mat-error>
              <mat-error *ngIf="customerForm.get('interestRate')?.errors?.['min']">
                Ingrese una tasa de interés válida (mínimo 1%)
              </mat-error>
            </mat-form-field>
            <mat-icon class="help-icon" matTooltip="Ingrese la tasa de interés para el cliente" style="cursor: help;">help_outline</mat-icon>
            <mat-form-field>
              <mat-label>Tasa moratoria</mat-label>
              <input matInput id="penaltyInterestRate" type="penaltyInterestRate" name="penaltyInterestRate" required formControlName="penaltyInterestRate">
              <mat-error *ngIf="customerForm.get('penaltyInterestRate')?.errors?.['required']">
                Ingrese una tasa moratoria
              </mat-error>
              <mat-error *ngIf="customerForm.get('penaltyInterestRate')?.errors?.['min']">
                Ingrese una tasa moratoria válida (mínimo 1%)
              </mat-error>
            </mat-form-field>
            <mat-icon class="help-icon" matTooltip="Ingrese la tasa moratoria para el cliente" style="cursor: help;">help_outline</mat-icon>
          </div>
        </div>

        <div class="button-row">
          <button type="submit" mat-button>Registrar Cliente</button>
          <button mat-button>Cancelar Registro</button>
        </div>
      </form>
    </div>
    </mat-card>
    
  </main>


</div>

