<div class="container">
  <aside class="sidebar">
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#" routerLink="/history">Historial</a></li>
        <li><a href="#" routerLink="/clients">Clientes</a></li>
        <li><a href="#">Configuración</a></li>
        <li><a href="#">Cerrar Sesión</a></li>
      </ul>
    </nav>
    <button (click)="logout()">Cerrar sesión</button>
  </aside>

  <main class="main-content">
    <header>
      <h1>Historial de ventas</h1>
      <button mat-raised-button color="primary" [routerLink]="'/bills'">Añadir Venta</button>
    </header>

    <div class="search-bar">
      <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Columnas -->
        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
        </ng-container>

        <ng-container matColumnDef="creditLimit">
          <th mat-header-cell *matHeaderCellDef> Límite de crédito disponible </th>
          <td mat-cell *matCellDef="let element"> {{element.creditLimit}} </td>
        </ng-container>

        <ng-container matColumnDef="dueDate">
          <th mat-header-cell *matHeaderCellDef> Vencimiento </th>
          <td mat-cell *matCellDef="let element"> {{element.dueDate | date}} </td>
        </ng-container>

        <ng-container matColumnDef="creditType">
          <th mat-header-cell *matHeaderCellDef> Método de pago </th>
          <td mat-cell *matCellDef="let element"> 
            {{element.creditType === 'SINGLE_PAYMENT' ? 'Contado' : 'Cuotas'}} 
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Monto </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <!-- Cabeceras y filas -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </main>

  <aside class="calendar-container">
    <mat-calendar></mat-calendar>
  </aside>
</div>
