<div class="container">
  <aside class="sidebar">
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Historial</a></li>
        <li><a href="#">Clientes</a></li>
        <li><a href="#" (click)="cerrar()" routerLink="/login">Cerrar Sesión</a></li>
        
      </ul>
    </nav>
  </aside>

  <main class="main-content">
    <header>
      <h1>Registrar factura</h1>
    </header>
    
    <mat-card>
      <div class="bill-box">
        <form [formGroup]="billForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <mat-form-field>
              <mat-label>Cliente</mat-label>
              <mat-select formControlName="customerId">
                <mat-option *ngFor="let customer of customers" [value]="customer.id">
                  {{customer.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="billForm.get('customerId')?.errors?.['required']">
                Seleccione un cliente
              </mat-error>
            </mat-form-field>
            <mat-icon class="help-icon" matTooltip="Seleccione un cliente de la lista" style="cursor: help;">help_outline</mat-icon>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>Monto</mat-label>
              <input matInput id="amount" type="number" name="amount" placeholder="0" required formControlName="amount">
              <mat-error *ngIf="billForm.get('amount')?.errors?.['required']">
                Ingrese un monto
              </mat-error>
              <mat-error *ngIf="billForm.get('amount')?.errors?.['min']">
                El monto deber ser mínimo de S/ 1.00
              </mat-error>
            </mat-form-field>
            <mat-icon class="help-icon" matTooltip="Ingresa el monto de la transacción (soles)" style="cursor: help;">help_outline</mat-icon>
          </div>
      
          <div class="form-group">
            <mat-form-field>
              <mat-label>Tasa de interés</mat-label>
              <input matInput id="interestRate" type="interestRate" name="interestRate" required formControlName="interestRate">
              <mat-error *ngIf="billForm.get('interestRate')?.errors?.['required']">
                Ingrese una tasa de interés
              </mat-error>
              <mat-error *ngIf="billForm.get('interestRate')?.errors?.['min']">
                El valor de la tasa debe ser mínimo 1%
              </mat-error>
            </mat-form-field>
            <mat-icon class="help-icon" matTooltip="Ingrese el porcentaje de tasa de interés" style="cursor: help;">help_outline</mat-icon>
          </div>
      
          <div class="form-group">
            <mat-form-field>
              <mat-label>Descripción</mat-label>
              <input matInput id="description" type="description" name="description" required formControlName="description">
              <mat-error *ngIf="billForm.get('description')?.errors?.['required']">
                Coloque una descripción de la venta
              </mat-error>
            </mat-form-field>
            <mat-icon class="help-icon" matTooltip="Ingresa la descripción de la transacción" style="cursor: help;">help_outline</mat-icon>
          </div>
      
          <div class="form-group">
            <mat-form-field>
              <mat-label>Tipo de crédito</mat-label>
              <mat-select formControlName="creditType">
                @for (credit of creditTypes; track credit) {
                  <mat-option [value]="credit.value">{{credit.viewValue}}</mat-option>
                }
              </mat-select>
              <mat-error *ngIf="billForm.get('creditType')?.errors?.['required']">
                Seleccione un tipo de crédito
              </mat-error>
            </mat-form-field>
            <mat-icon class="help-icon" matTooltip="Seleccione el tipo de crédito (pago único o en cuotas)" style="cursor: help;">help_outline</mat-icon>
          </div>

          <div class="form-group" *ngIf="billForm?.get('creditType')?.value === 'MULTI_PAYMENT'">
            <mat-form-field>
              <mat-label>Cuotas</mat-label>
              <input matInput id="installments" type="installments" name="installments" required formControlName="installments">
              <mat-error *ngIf="billForm.get('installments')?.errors?.['min']">
                El número de cuotas debe ser al menos 2.
              </mat-error>
              <mat-error *ngIf="billForm.get('installments')?.errors?.['required']">
                Coloque la cantidad de cuotas deseadas
              </mat-error>
            </mat-form-field>
            <mat-icon class="help-icon" matTooltip="Ingrese las cuotas del pago" style="cursor: help;">help_outline</mat-icon>
          </div>
      
          <div class="form-group">
            <mat-form-field>
              <mat-label>Tipo de interés</mat-label>
              <mat-select formControlName="interestType">
                @for (interest of interestType; track interest) {
                  <mat-option [value]="interest.value">{{interest.viewValue}}</mat-option>
                }
              </mat-select>
              <mat-error *ngIf="billForm.get('interestType')?.errors?.['required']">
                Seleccione un tipo de interés
              </mat-error>
            </mat-form-field>
            <mat-icon class="help-icon" matTooltip="Seleccione el tipo de tasa de interés (Nominal o Efectiva)" style="cursor: help;">help_outline</mat-icon>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>Periodo</mat-label>
              <mat-select formControlName="tasaType">
                @for (type of tasaType; track type) {
                  <mat-option [value]="type.value">{{type.viewValue}}</mat-option>
                }
              </mat-select>
              <mat-error *ngIf="billForm.get('tasaType')?.errors?.['required']">
                Seleccione un periodo de tasa
              </mat-error>
            </mat-form-field>
            <mat-icon class="help-icon" matTooltip="Seleccione el periodo de la tasa de interés" style="cursor: help;">help_outline</mat-icon>
          </div>

          <div class="form-group" *ngIf="billForm?.get('interestType')?.value === 'NOMINAL'">
            <mat-form-field>
              <mat-label>Capitalización</mat-label>
              <mat-select formControlName="capitalizacion">
                @for (capitalizacion of capitalizacion; track capitalizacion) {
                  <mat-option [value]="capitalizacion.value">{{capitalizacion.viewValue}}</mat-option>
                }
              </mat-select>
              <mat-error *ngIf="billForm.get('capitalizacion')?.errors?.['required']">
                Seleccione un periodo de capitalización
              </mat-error>
            </mat-form-field>
            <mat-icon class="help-icon" matTooltip="Seleccione el periodo de capitalización" style="cursor: help;">help_outline</mat-icon>
          </div>

          <div class="form-group">
            <button type="submit" mat-button>Registrar venta</button>
            <button mat-button>Cancelar venta</button>
          </div>
        </form>
      </div>
    </mat-card>
  </main>


</div>
