<div class="container">
  <aside class="sidebar">
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Historial</a></li>
        <li><a href="#">Clientes</a></li>
        <li><a href="#">Configuración</a></li>
      </ul>
    </nav>
  </aside>

  <main class="main-content">
    <header>
      <h1>Registrar factura</h1>
    </header>

    <br>
    <br>
    <br>

    <mat-card>
    <div class="bill-box">
      <form>
        <div class="form-group">
          <div class="input-row">
            <div class="input-group">
              <label>Factura</label>
              <input id="bill" type="bill" name="bill" matInput required>
            </div>
            <div class="input-group">
              <label>Tipo de moneda</label>
              <input id="moneyType" type="moneyType" name="moneyType" matInput required>
            </div>
          </div>
          <div class="form-group">
            <div class="input-row">
            <div class="input-group">
              <label>Usuario</label>
              <input id="user" type="user" name="user" matInput required>
            </div>
            </div>
          </div>
          <div class="input-row">
            <div class="input-group">
              <label>Tasa de interés</label>
              <input id="interestRate" type="interestRate" name="interestRate" matInput required>
            </div>
            <div class="input-group">
              <label>Tipo de crédito</label>
              <input id="creditType" type="creditType" name="creditType" matInput required>
            </div>
          </div>
        </div>
        <div class="button-row">
          <button mat-button>Registrar venta</button>
          <button mat-button>Cancelar venta</button>
        </div>
      </form>
    </div>
    </mat-card>
  </main>


</div>
